body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header{
   margin: 0; 
   background-color: black;
   color: white;
   text-align: center;
   padding: 15px;
}

#menu ul{
     display: flex;
     gap: 25px;
     background-color: #333;
     padding: 15px;
     margin: 0;
     justify-content: center;
     list-style: none;
}

#menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menu a:hover{
    color: #ffcc00;
}

.btn{
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    margin-top: 10px;
}

.ps{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    flex-wrap: wrap;
}

.p1{
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.p1:hover{
    background-color: rgb(215, 195, 195);
}


.btn a{
    background: rgb(129, 42, 42);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}
.btn a:hover{
    background: rgb(160, 60, 60);
}

.p1 form input{
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.p1 form button{
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}


